body h1 {
    background-color: wheat;
   
}

*{
    background-color:papayawhip;  
}
h2,h3
{
    background-color:wheat ;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img{
    border-radius: 17%;
    border: 5px solid black;
}